#home {
    background-image: url('../../assets/img/q5.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 183vh;

    /*   section {
        background-color: cadetblue;
        margin-top: 10%;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 80%;
        width: 35%;
    } */

    #hero {
        width: 100%;
        height: 100vh;
        /*     background: url("../../assets/img/q5.jpeg") top center;  */
        background-size: cover;
        position: relative;
        padding: 0;

        #container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 150%;

            #text {
                position: absolute;
                top: 25%;
                right: 10%;
                color: $white;
                font-size: larger;
                font-weight: 600;
                background-color: rgba(225, 225, 225, 0.3);
                border-radius: 8px;
                font-family: $quicksand;
                text-align: center;
                line-height: 1;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                max-width: 80%;
                max-height: 100%;
                padding: 50px 10px 30px 0px;

                .lead {
                    font-weight: 400;
                }

                #bottomDesign {
                    border: none;
                    margin-top: 3%;
                    font-family: $quicksand;
                    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
                    color: $white;
                    font-weight: 700;
                    font-size: x-large;

                    .button {
                        display: inline-block;
                        border-radius: 8px;
                        background-color: #292F33;
                        border: none;
                        color: $white;
                        text-align: center;
                        font-size: 20px;
                        padding: 15px;
                        width: 50%;
                        transition: all 0.5s;
                        cursor: pointer;
                        margin: 5px;
                        outline: none;
                        height: 13%;
                    }

                    .button span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                    }

                    .button span:after {
                        content: '»';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -20px;
                        transition: 0.5s;
                    }

                    .button:hover span {
                        padding-right: 25px;
                    }

                    .button:hover span:after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }
        }
    }

    #hero:before {
        content: "";
        background: rgba(13, 20, 26, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero:before {
        content: "";
        background: rgba(13, 20, 26, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .hero-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 800;
        line-height: 56px;
        text-transform: uppercase;
        color: $white;
    }

    #hero h2 {
        color: #eee;
        margin-bottom: 50px;
        font-size: 24px;
    }

    @media (min-width: 1024px) {
        #hero {
            background-attachment: fixed;
        }
    }

    @media (max-width: 768px) {
        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }

}