* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $quicksand;
}

.tost-invalid {
    background-color: $error-text !important;
    border-radius: 5px !important;
    color: $offwhite !important;
}


.tost-valid {
    background-color: $success-text !important;
    border-radius: 5px !important;
    color: $offwhite !important;
}

.disable {
    background-color: #ccc !important;
    box-shadow: none !important;
    opacity: 0.9 !important;
    pointer-events: none;
}